header {
    display: flex;
    justify-content: center;        /* Center items horizontally */
    align-items: center;            /* Center items vertically */
    padding: 1rem;
    background-color: #0a74da;      /* Blue background color */
    color: white;                   /* White text color */
    position: relative;
}

header h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

button, select {
    background-color: #555;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 4px;  /* Rounded corners for the button */
}

button:hover, select:hover {
    background-color: #777;
}

/* Style for the Navbar */
nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

nav ul li a:hover {
    text-decoration: underline;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #007bff;
    color: white;
    font-size: 0.9em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.content-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.about-section {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(3, 253, 15, 0.1);
    margin-bottom: 2rem;
    padding: 2rem;
    transition: all 0.3s ease;
}

.about-section:hover {
    box-shadow: 0 8px 16px rgb(255, 0, 212);
}

h2 {
    font-size: 2.5rem;
    color: #4CAF50;
    margin-bottom: 1rem;
    font-weight: bold;
}

p {
    font-size: 1.1rem;
    color: #064ef6;
    line-height: 1.8;
}

ul {
    padding-left: 20px;
    font-size: 1.1rem;
    color: #3300ff;
    line-height: 1.8;
}

ul li {
    margin-bottom: 0.8rem;
    position: relative;
}

ul li:before {
    content: "•";
    color: #4CAF50;
    font-size: 1.5rem;
    position: absolute;
    left: -20px;
    top: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .content-container {
        padding: 1rem;
    }

    .about-section {
        padding: 1.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    p, ul {
        font-size: 1rem;
    }
}
